@media only screen and (min-width: 992px) {
    .searchForm {
        width: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .searchForm {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}